
# Ignore everything:
libraries/*

# Except for the IrReceiver directories:
!**/IRReceiverforWDTVLive/**
!**/IRReceiverforWDTVLive/**
!**/IRReceiverRead
!**/IRReceiverRead/**

#Include needed libraries
#!libraries/**
#!libraries/TrinketHidCombo/**


!.gitignore
!libraries/
#!libraries/**/
!**/libraries/**/TrinketHidCombo/
!libraries/**/TrinketHidCombo/**/
#!libraries/*/TrinketHidCombo/*/*
#!libraries/*/TrinketHidCombo/*/*/*
#!libraries/*/TrinketHidCombo/*/*/*/*
#!libraries/*/TrinketHidCombo/*/*/*/*/*
